html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden
}

header {
  padding: 0;
  border: 2px solid black;
  width: 100%;
  height: 18%;
}

.hvhs-aqua {
  background-color: #5BD0D6;
}

.hvhs-grey {
  background-color: #F2F2F2;
}

/*--Landing Page--*/

/*----BG Image----*/

img.BG-center {
  position: fixed;
  width: 125%;
  min-width: 1280px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -100000;
}

img.BG-hide {
  display: none
}

/*----Header----*/

.hvhs-headeritem {
  display: inline-block;
  position: relative;
  max-height: 126px;
  height: 100%
}

#adalta-image {
  max-width: 636px;
  width: 100%;
  padding: 11px 10px;
  top: 50%;
}

#link-image-div {
  width: 75%;
  height: 100%
}

#link-image {
  object-fit: contain;
  max-width: 125px;
  min-width: 75px;
  width: 100%;
  padding: 11px 10px;
}

#link-text {
  padding-top: 10%;
  padding-right: 20%;
  float: right;
  font-size: calc(1vw + 1.5vh);
}

/*---Main Body---*/

body {
  overflow: hidden
}

.hvhs-landingpage-body {
  height: 70vh;
}

#landing-overlay-image {
  z-index: -99999;
  height: 80%;
  min-height: 224px;
  float: right;
  padding: 0px;
  margin: 0px;
  position: fixed;
  transform: translate(0%, 0%);
  right: 0;
}

#title-box {
  padding: 0;
}

.webTitle {
  z-index: -99999;
  width: 150%;
  float: left;
  padding: 0px;
  margin: 0px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-32.5%, -25%);
}

#main-button {
  border: 2px solid black;
  float: right;
  padding: 10px 90px;
  margin: 0px;
  position: absolute;
  right: 5.1%;
  top: 67.5%;
}

.hvhs-modal-overlay {
  width: 75%;
  opacity: 0.25
}

/*----Footer----*/

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}